* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #0c1445, #1a237e, #0c1445);
    height: 100vh;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* 确保canvas在底层 */
}

/* .title {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    z-index: 10;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
} */

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.instructions {
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 10;
    /* 确保文本在canvas之上 */
    pointer-events: none;
    /* 避免文本元素拦截鼠标事件 */
    font-weight: bold;
}

.particle-counter {
    position: absolute;
    bottom: 20px;
    /* 改为距离底部20px */
    left: 20px;
    /* 距离左边20px */
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    /* 确保文本在canvas之上 */
    pointer-events: none;
    /* 避免文本元素拦截鼠标事件 */
}